body { 
	padding: 0;
	margin: 0;
	width: 300px; 
	font-size: 12px;
	font-family: "Tahoma", Verdana, Arial;
	color: #000;
	background: #ebebeb;
} 
a { color: #000; }
p { margin: 10px; }
#wrap {
	margin: 0;
	margin-left: 30px;
	border-left: 2px groove white;
}
ul { margin: 5px 0; }
ul, ul li {
	padding: 5px;
	list-style-type: none
}
ul li { 
	cursor: pointer; 
	padding: 3px 2px;
}
ul li:hover { 
	border: 1px solid #AECFF7;
	border-radius: 3px;
	padding: 2px 1px;
	padding-left: 37px;
	margin-left: -36px;
}
ol li {
	margin-left: -40px;
	padding: 4px;
}
.button {
	border: 1px solid #AECFF7;
	border-radius: 3px;
	padding: 2px 1px;
	text-align: center;
	width: 100px;
	cursor: pointer;
}
.center { text-align: center; }
.short-guide { margin: 5px; }
.title {
	font-size: 11pt;
	font-weight: bold;
	text-decoration: underline;
	margin: 5px !important;
}
.footer p {
	font-size: 10px;
	margin: 5px;;
}
#help {
	display: none;
} 
#about {
	display: none;
	font-size: 10pt;
}
#about .title { margin-left: 10px !important; }
#about .to-index {
	float: right;
	margin: 0 5px 0!important;
	padding: 0 !important;
}